  .user-container{
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .robot-container{
    display: flex;
    justify-content: start;
    align-items: center;
    max-width: 350px;
  }

  .messageContainer{
    background-color: rgb(243, 239, 239);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    gap: 7px;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 15px 10px;
  }

  .time{
    color: grey;
    font-size: 14px;
  }

  .chatImage{
    width: 45px;
    border-radius: 50%;
  }

  .chat-message-container{
    height: 82%;
    overflow: scroll;
    scrollbar-width: none;
  }