.custom-menu-wrapper {
    background: var(--bg-color);
    width: 100%;
    height: 1000px;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    padding: 15px 0;
    visibility: hidden;
    transition: visibility 0.1s ease;
  }

.custom-menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

.custom-menu-list a{
    text-decoration: none;
    color: var(--title-color);
  }

.custom-list-sub{
    border-bottom: 1px solid var(--border-color);
  }

.custom-list-sub:hover p{
    background-color: rgb(245, 248, 252);
    opacity: 0.8;
    color: black;
    font-weight: 700;
  }

.custom-menu-link {
    padding: 16px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.socials-header{
    display: flex;
    padding: 10px 0;
  }

.socials-header p{
    margin-left: 15px;
    color: var(--drop);
    font-size: 17.5px;
    font-weight: bold;
    cursor: pointer;
  }

.socials-header span{
    margin-left: 15px;
    color: var(--drop);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
  }

.socials-links{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    vertical-align: middle;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    z-index: 0;
    transition: height 0.1s ease, visibility 0.1s ease;
  }

.socials-links img{
    width: 22px;
    margin-right: 10px;
  }

.socials-links div{
    display: flex;
  }

.socials-links a{
    cursor: pointer;
    margin-bottom: 15px;
  }

.socials-link-sub{
    display: flex;
    flex-direction: column;
  }


