  /* Carousel */
  .projetsMainCont{
  margin: 0;
  }


  html {
  scroll-behavior: smooth;
  }

  .intro-container1{
  display: flex;
  padding: 60px 40px;
  margin-bottom: 15px;
  justify-content: space-around;
  }

  .welcome h1{
  font-size: 45px;
  }

  .welcome p{
  font-size: 15px;
  }

  .welcome{
  max-width: 400px;
  }


  .Description{
  max-width: 800px;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  color: rgb(158, 165, 173);
  font-size: 18px;
  }


  .carousel-container1 {
  position: relative;
  overflow: hidden;
  margin-top: 180px;
  }

  .carousel1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 30px;
  margin: 0 auto;
  margin-bottom: 60px;
  max-width: 1300px;
  background-color: var(--card-bg);
  padding: 50px 30px;
  border-radius: 20px;
  transition: transform 0.5s ease-in-out;
  }

  .card1 {
  background-color: var(--bg-color);
  height: 450px;
  width: 400px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  }

  .card-image1 {
  height: 300px;
  max-height: 300px;
  width: 100%;
  background-color: #ddd;
  background-size: cover;
  background-position: center;
  }

  .card-content1 {
  padding: 15px;
  height: 156px;
  }

  .card-tags1 {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
  }

  .tag1 {
  font-size: 12px;
  color: #666;
  font-weight: 500;
  }

  .tag1:not(:last-child)::after {
  content: "•";
  margin-left: 8px;
  }

  .card-title1 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--title-color);
  }

  .card-date1 {
  font-size: 14px;
  color: #888;
  margin-top: 10px;
  }